.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
button{
    padding:10px 30px; 
    
    font-size: 20px;
     cursor: pointer;
}